/*general*/
.mdg-container{
  width: 90%;
  margin: 0 auto;
}

.mdg-black{
  color: black !important;
}

.mdg-white{
  color: white;
}

/*header*/
header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
}

.mdg-fixed{
  width: 100%;
  position: fixed;
  top: 0;
}

/*header top*/
.mdg-header-top{
  background-color: black;
  justify-content: end;
  display: flex;
  align-items: center;
  padding: 10px;
}

.mdg-header-top img{
  width: 80px;
}

/*header bottom*/
.mdg-chevron{
  width: 10px;
}

.mdg-btn-accedi{
  background-color: #363636;
  color: white;
  border-radius: 17px;
  font-weight: 600;
}

.mdg-btn-accedi:hover{
  border: 1px solid white;
  color: white;
  background-color: gray; 
}

.mdg-btn-gray:hover{
  padding: 1px;
  border: 2px solid gray;
  border-radius: 20px;
  width: 78px;
}

.mdg-lens{
  width: 25px;
}

.mdg-header-bottom a:focus{
  color: #0072ce !important;
}

.mdg-dropdown{
  width: 100%;
  border: none;
  border-radius: 0;
  margin-top: 0;
}

.mdg-bg-item:hover{
  background-color: white;
}

.mdg-point{
  color: #2d64e6;
  font-size: 8px;
  vertical-align: middle;
  padding-bottom: 3px;
}

/*jumbotron*/
.mdg-jumbotrone{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 700px;
  margin-top: 100px;
  padding-bottom: 40px;
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
}

.mdg-jumbotrone img{
  width: 250px;
  filter: grayscale(.3);
}

.mdg-jumbotrone h2{
  padding-top: 30px;
  font-size: 50px;
  font-weight: 600;
}

.mdg-jumbotrone p{
  padding: 30px 0;
  font-size: 19px;
}

.mdg-btn-acquista{
  background-color: #cd3d0f;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  padding: 3px 10px;
}

.mdg-btn-orange:hover{
  border: 3px solid #cd3d0f;
  border-radius: 20px;
  padding: 1px;
}

.mdg-btn-acquista:hover{
  color: white;
  border: 3px solid black;
}

/*main*/
main{
  padding-top: 20px;
}

/*selezione giochi*/
.mdg-box-img img{
  width: 100%;
  border-radius: 20px;
}

.mdg-box-img{
  margin: 20px 0;
}

/*prodotti playstation*/
.mdg-prodotti-ps{
  padding-top: 80px;
}

.mdg-prodotti-ps span{
  color: #0072ce;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
}

.mdg-prodotti-ps h2{
  color: #1f1f1f;
  font-size: 50px;
}

.mdg-prodotti-ps p{
  padding-top: 20px;
  color: #727272;
  font-size: 23px;
  font-weight: 600;
}

.mdg-btn-info{
  background-color: #2d64e6;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  padding: 10px;
}

.mdg-btn-blue:hover{
  border: 3px solid #2d64e6;
  border-radius: 25px;
  padding: 1px;
  width: 192px;
}

.mdg-btn-info:hover{
  color: white;
  border: 3px solid white;
}

.mdg-prodotti-ps .row.pt-5 img{
  width: 100%;
}

.mdg-box-prodotti img{
  width: 100%;
  padding: 25px;
  cursor: pointer;
}

.mdg-box-prodotti span{
  color: black;
}

.mdg-box-prodotti{
  margin-bottom: 20px;
}

.mdg-box-active:active{
  border-bottom: 3px solid #0072ce;
}

/*main jumbotron*/
.mdg-jumbotrone-main{
  display: flex;
  align-items: center;
  width: 100%;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-position: center;
  padding: 20px 0;
  margin-top: 40px;
}

.mdg-jumbotrone-main img{
  width: 300px;
  filter: grayscale(.2);
}

.mdg-jumbotrone-main h2{
  padding-top: 20px;
  font-size: 45px;
  font-weight: 600;
}

.mdg-jumbotrone-main p{
  padding: 20px 0;
  font-size: 20px;
}

/*nuovi giochi*/
.mdg-bg-newg{
  background-color: #1f1f1f;
}

.mdg-bg-newg h2{
  font-size: 35px;
  font-weight: 600;
}

.mdg-bg-newg h3{
  font-size: 25px;
  font-weight: 600;
}

.mdg-bg-newg span{
  font-size: 18px;
  font-weight: 600;
}

/*esplora ps4*/
.mdg-esplora h2{
  font-size: 40px;
}

.mdg-esplora p{
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

.mdg-esplora h3{
  font-weight: 600;
}

.mdg-esplora span{
  font-size: 20px;
  font-weight: 600;
  color: #727272;
}

.mdg-box-prodotti .mdg-btn-blue{
  width: 121px;
}

.mdg-esplora .mdg-cursor{
  cursor: auto;
}

/*PS plus*/
.mdg-bg-ps-plus{
  background-color: #bebcbb;
}

.mdg-box-ps-plus p{
  font-weight: 600;
  font-size: 18px;
}

.mdg-box-ps-plus img{
  width: 60%;
}

.mdg-box-ps-plus-game img{
  width: 100%;
}

.mdg-filter-gray{
  filter: grayscale(.2);
}

.mdg-btn-esplora{
  background-color: #d9d9dc;
  color: #2d64e6;
  border-radius: 25px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
}

@media (max-width:768px){
  .mdg-bg-ps-plus .col-md-6:nth-of-type(2){
    display: none;
  }
}

/*sconti*/
.mdg-sconti h2{
  font-size: 40px;
}

.mdg-sconti p{
  color: #727272;
  font-size: 20px;
  font-weight: 600;
}

.mdg-box-sconti img{
  width: 100%;
}

/*ps now*/
.mdg-bg-ps-now{
  background-color: #161c3b;
}

.mdg-box-now:hover{
  border: 3px solid lightgray;
  border-radius: 25px;
  padding: 1px;
  width: 236px;
}

@media (max-width:768px){
  .mdg-bg-ps-now .col-md-6:nth-of-type(2){
    display: none;
  }
}

/*social*/
.mdg-sconti h3{
  font-size: 30px;
}

.mdg-box-social img{
  width: 100%;
  cursor: pointer;
}

/*footer*/
/*left*/
.mdg-bg-footer{
  background-color: #00439c;
}

.mdg-box-footer-left img{
  width: 80px;
  margin-bottom: 50px;
}

.mdg-language img{
  width: 24px;
}

/*right*/
.mdg-box-footer-right nav ul{
  list-style: none;
}

/*bottom*/
.mdg-box-footer-bm img{
  width: 150px;
}