header{
  height: 100px;
}

.mdg-header-top{
  background-color: black;
  justify-content: end;
  display: flex;
  align-items: center;
  padding: 10px;
}

.mdg-header-top img{
  width: 80px;
}

.mdg-chevron{
  width: 10px;
}

.mdg-black{
  color: black !important;
}

.mdg-btn-accedi{
  background-color: #363636;
  color: white;
  border-radius: 17px;
  font-weight: 600;
}
